body {
    /* Frame 1 */

position: relative;
width: 885px;
height: 544px;

background: linear-gradient(180deg, #FFC7C7 0%, #6328B7 100%);


}

.car{
    /* Rectangle 1 */

position: absolute;
width: 100%;
height: 118px;
left: 0;
top: 5px;

background: linear-gradient(90deg, rgba(20, 52, 61, 0.78) 0%, rgba(88, 100, 108, 0.78) 33.65%, rgba(51, 53, 54, 0.78) 100%);
display: flex;
}
.img2{
    position: relative;
    left:450px;
}
.h{
   text-align:center;
   position: relative;
   left: 180px;
}
.p1{
    position: absolute;
    top:150px;
    font-size: 25px;

}
.sdf{
    position: absolute;
    top:180px;
    left: 800px;
}
.lokj{
    position: absolute;
    top: 270px;
    background-color: forestgreen;
    
}
