body {
    font-family: sans-serif;
}

body {
        margin: 0;
        padding: 0;
        background: #522d2d;
        font-family: Arial, sans-serif;
        color: white;
    }

    .container {
        max-width: 900px;
        margin: auto;
        padding: 20px;
        text-align: center;
    }

    .top-note {
        position: absolute;
        left: 20px;
        top: 40px;
        transform: rotate(-20deg);
        font-size: 18px;
        color: #d9bfbf;
        width: 200px;
    }

    .header {
        margin-top: 20px;
        background: rgba(0, 0, 0, 0.3);
        padding: 10px 20px;
        border-radius: 10px;
        display: inline-flex;
        align-items: center;
        gap: 20px;
    }

    .header img {
        height: 60px;
    }

    .header-title {
        font-size: 32px;
        font-weight: bold;
    }

    .m5-label {
        font-size: 70px;
        margin-top: 40px;
        font-family: "Comic Sans MS", cursive;
    }

    .text-block {
        margin-top: 30px;
        text-align: left;
        font-size: 22px;
        line-height: 1.4;
    }

    .image-wrapper {
        margin-top: 35px;
        text-align: center;
    }

    .image-wrapper img {
        width:400px;
        height:200px;
        border-radius: 30px;
        border: 4px solid #3b1f1f;
        position: absolute;
        bottom:200px;
        left:350px;
    }
